body {
    background-color: #111111
 }

h1 {
color: #e2e80f;
text-align: center;
font-size: 16px;
}

p{
color: #eeeeee;
font-size: 14px;
line-height: 20px;
}



span:credits {
    font-size:12px;
    color: #49daff
}

film-description{
    font-size:12px;
}
